# Exploring Datasets with Python

In this short demo we will analyse a given dataset from 1978, which contains information about politicians having affairs. 

To analyse it, we will use a [Jupyter Notebook](http://jupyter.org/), which is basically a *REPL++* for Python. Entering a command with shift executes the line and prints the result.

In [1]:
4 + 4

8

In [2]:
def sum(a, b):
    return a + b

sum(40, 2)

42

To work with common files like CSV, JSON, Excel files etc., we will use [Pandas](http://pandas.pydata.org/), _an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language_â„¢. Let's import it!

In [3]:
import pandas as pd

Our dataset is given as a CSV file. Pandas provides an easy way to read our file with `read_csv`. The path of the file to read is relative to our notebook file. The path can also be an URL, supporting HTTP, FTP and also S3 if your data is stored inside an AWS S3 Bucket!

In [4]:
affairs = pd.read_csv('affairs.csv')

The first thing we will check is the size of our dataset. We can use `info()` to get the number of entries of each column.

In [5]:
affairs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 9 columns):
sex           601 non-null object
age           601 non-null float64
ym            601 non-null float64
child         601 non-null object
religious     601 non-null int64
education     601 non-null int64
occupation    601 non-null int64
rate          601 non-null int64
nbaffairs     601 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 42.3+ KB

Now we know how many data is inside our file. Pandas is smart enough to parse the column titles by itself and estimate the data types of each column.

You may be curious how the data looks like. Let's see by using `head()`, which will print the first 5 rows.

In [6]:
affairs.head()

,sex,age,ym,child,religious,education,occupation,rate,nbaffairs
0,male,37.0,10.00,no,3,18,7,4,0
1,female,27.0,4.00,no,4,14,6,4,0
2,female,32.0,15.00,yes,1,12,1,4,0
3,male,57.0,15.00,yes,5,18,6,5,0
4,male,22.0,0.75,no,2,17,6,3,0

We can access a column of our dataset by using bracket notation and the name of the column.

In [7]:
affairs['sex']

0        male
1      female
2      female
3        male
4        male
5      female
6      female
7        male
8      female
9        male
10       male
11       male
12       male
13     female
14     female
15     female
16     female
17     female
18     female
19     female
20     female
21     female
22     female
23     female
24       male
25     female
26     female
27       male
28       male
29     female
        ...
571    female
572    female
573    female
574      male
575    female
576    female
577      male
578      male
579      male
580      male
581      male
582      male
583      male
584      male
585      male
586    female
587      male
588    female
589    female
590    female
591      male
592    female
593      male
594      male
595      male
596      male
597    female
598      male
599      male
600    female
Name: sex, Length: 601, dtype: object

For categorical features like `sex`, you can also get the distributions of each value by using `value_counts()`.

In [9]:
affairs['sex'].value_counts()

female    315
male      286
Name: sex, dtype: int64

But what about numerical values? It definitly makes no sense to count each distinct value. Therefore, we can use `describe()`.

In [10]:
affairs['age'].describe()

count    601.000000
mean      32.487521
std        9.288762
min       17.500000
25%       27.000000
50%       32.000000
75%       37.000000
max       57.000000
Name: age, dtype: float64

This works for the whole dataframe as well. Pandas knows which values are numerical based on the datatype and hides the categorical features for you.

In [11]:
affairs.describe()

,age,ym,religious,education,occupation,rate,nbaffairs
count,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000
mean,32.487521,8.177696,3.116473,16.166389,4.194676,3.931780,1.455907
std,9.288762,5.571303,1.167509,2.402555,1.819443,1.103179,3.298758
min,17.500000,0.125000,1.000000,9.000000,1.000000,1.000000,0.000000
25%,27.000000,4.000000,2.000000,14.000000,3.000000,3.000000,0.000000
50%,32.000000,7.000000,3.000000,16.000000,5.000000,4.000000,0.000000
75%,37.000000,15.000000,4.000000,18.000000,6.000000,5.000000,0.000000
max,57.000000,15.000000,5.000000,20.000000,7.000000,5.000000,12.000000

There is also an easy way to filter your dataset. Let's say we want to have a subset of our data containing only woman. This is also possible with the bracket notation!

In [12]:
affairs[affairs['sex'] == 'female']

,sex,age,ym,child,religious,education,occupation,rate,nbaffairs
1,female,27.0,4.000,no,4,14,6,4,0
2,female,32.0,15.000,yes,1,12,1,4,0
5,female,32.0,1.500,no,2,17,5,5,0
6,female,22.0,0.750,no,2,12,1,3,0
8,female,32.0,15.000,yes,4,16,1,2,0
13,female,22.0,1.500,no,2,17,5,4,0
14,female,27.0,4.000,no,4,14,5,4,0
15,female,37.0,15.000,yes,1,17,5,5,0
16,female,37.0,15.000,yes,2,18,4,3,0
17,female,22.0,0.750,no,3,16,5,4,0
18,female,22.0,1.500,no,2,16,5,5,0
19,female,27.0,10.000,yes,2,14,1,5,0
20,female,22.0,1.500,no,2,16,5,5,0
21,female,22.0,1.500,no,2,16,5,5,0
22,female,27.0,10.000,yes,4,16,5,4,0
23,female,32.0,10.000,yes,3,14,1,5,0
25,female,22.0,1.500,no,2,18,5,5,0
26,female,27.0,7.000,no,4,16,1,5,0
29,female,27.0,4.000,yes,3,17,5,4,0
31,female,22.0,1.500,no,3,16,5,5,0
33,female,42.0,15.000,yes,5,14,5,4,0
35,female,22.0,1.500,no,4,16,5,3,0
36,female,42.0,15.000,yes,3,12,1,4,0
37,female,22.0,4.000,no,4,17,5,5,0
39,female,22.0,0.750,no,3,16,1,5,0
42,female,22.0,0.417,no,5,14,1,4,0
43,female,27.0,4.000,yes,2,18,6,1,0
44,female,32.0,7.000,yes,5,17,5,3,0
46,female,27.0,7.000,yes,4,18,6,5,0
47,female,42.0,15.000,yes,2,18,5,4,0
...,...,...,...,...,...,...,...,...,...
538,female,27.0,7.000,yes,4,12,1,2,3
540,female,17.5,0.750,yes,2,12,1,3,12
541,female,32.0,15.000,yes,3,18,5,4,12
542,female,22.0,7.000,no,4,14,4,3,2
545,female,22.0,1.500,yes,5,14,5,3,1
546,female,32.0,15.000,no,3,17,5,1,12
547,female,42.0,15.000,yes,2,12,1,2,12
550,female,32.0,15.000,yes,3,9,1,1,12
553,female,42.0,15.000,yes,2,17,6,3,2
558,female,32.0,15.000,yes,1,14,5,2,12
561,female,27.0,1.500,no,2,17,5,5,7
562,female,47.0,15.000,yes,2,17,5,2,3
564,female,27.0,4.000,no,2,14,5,5,12
565,female,27.0,10.000,yes,4,14,1,5,2
566,female,22.0,4.000,yes,3,16,1,3,1
568,female,27.0,4.000,yes,1,16,3,5,2
569,female,37.0,15.000,yes,2,17,6,4,7
570,female,27.0,4.000,no,1,17,3,1,2
571,female,17.5,0.750,yes,2,12,3,5,12
572,female,32.0,15.000,yes,5,18,5,4,7
573,female,22.0,4.000,no,1,16,3,5,7
575,female,22.0,1.500,yes,3,18,5,2,1
576,female,42.0,15.000,yes,2,17,5,4,3
586,female,52.0,15.000,yes,1,18,5,5,12
588,female,32.0,15.000,yes,4,16,4,4,3
589,female,32.0,15.000,yes,3,14,3,2,7
590,female,27.0,7.000,yes,4,16,1,2,7
592,female,42.0,15.000,yes,2,14,3,2,7
597,female,32.0,10.000,yes,2,18,5,4,7
600,female,32.0,15.000,yes,3,14,1,5,1

The above statement returns a new dataframe (not a copy, modifying this data will modify the original as well), which can be access like before. Let's see how the numerical distribution is for our females.

In [13]:
affairs[affairs['sex'] == 'female'].describe()

,age,ym,religious,education,occupation,rate,nbaffairs
count,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000
mean,30.801587,8.017070,3.107937,15.257143,3.384127,3.939683,1.419048
std,8.646241,5.627237,1.134758,2.023879,1.929094,1.148045,3.309264
min,17.500000,0.125000,1.000000,9.000000,1.000000,1.000000,0.000000
25%,22.000000,1.500000,2.000000,14.000000,1.000000,3.000000,0.000000
50%,27.000000,7.000000,3.000000,16.000000,4.000000,4.000000,0.000000
75%,37.000000,15.000000,4.000000,17.000000,5.000000,5.000000,0.000000
max,57.000000,15.000000,5.000000,20.000000,7.000000,5.000000,12.000000

We can also create new rows. Specify the new column name in brackets and provide a function to set the data. We will create a new column containing True or False, wheather or not the person is below 30.

In [15]:
affairs['below_30'] = affairs['age'] < 30

In [16]:
affairs['below_30'].value_counts()

False    325
True     276
Name: below_30, dtype: int64

In [17]:
affairs.head()

,sex,age,ym,child,religious,education,occupation,rate,nbaffairs,below_30
0,male,37.0,10.00,no,3,18,7,4,0,False
1,female,27.0,4.00,no,4,14,6,4,0,True
2,female,32.0,15.00,yes,1,12,1,4,0,False
3,male,57.0,15.00,yes,5,18,6,5,0,False
4,male,22.0,0.75,no,2,17,6,3,0,True

This should be enought about Pandas. Let's get some visualisations!